// largura do card
mat-card {
    width: 80%;
    margin: 2em auto;
    text-align: center;
}

form {
    width: 100%;
    min-width: 150px;
}

// largura dos inputs
mat-form-field {
    width: 100%;
}

// butoes
mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cancel {
    margin-left: 20px;
}