<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Solicitações</span>
        </mat-toolbar>
        <!--  dataSource$ verifica se a variavel foi inicializada, mais nao verifica se esta retornando dados -->
        <!-- | async passa todo o gerenciamento para o angular, se inscreve no observable e verifica se esta retornando dados com isso e possivel execuar as condicoes do ngIF -->
        <!-- | async as tickets evita de ficar inscrito mais de uma vez no observable para buscar o mesmo dado evitando desperdicio de memoria -->
        <div *ngIf="dataSource$ | async as tickets; else elseBlock">
            <table mat-table [dataSource]="tickets" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!-- Flag Column -->
                <ng-container matColumnDef="flag">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="flag"></mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status == 'Aberto'; else elseBlock">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="flag"
                                style="color: green;">
                            </mat-icon>
                        </div>
                        <ng-template #elseBlock>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="flag"
                                style="color: red;">
                            </mat-icon>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Assunto Column -->
                <ng-container matColumnDef="assunto">
                    <th mat-header-cell *matHeaderCellDef> Assunto </th>
                    <td mat-cell *matCellDef="let element"> {{element.assunto}} </td>
                </ng-container>

                <!-- Categoria Column -->
                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                </ng-container>

                <!-- Tecnico Column -->
                <ng-container matColumnDef="tecnico">
                    <th mat-header-cell *matHeaderCellDef> Tecnico </th>
                    <td mat-cell *matCellDef="let element"> {{element.tecnico}} </td>
                </ng-container>

                <!-- Nivel Column -->
                <ng-container matColumnDef="nivel">
                    <th mat-header-cell *matHeaderCellDef> Nível </th>
                    <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
                </ng-container>

                <!-- Solicitante Column -->
                <ng-container matColumnDef="solicitante">
                    <th mat-header-cell *matHeaderCellDef> Solicitante </th>
                    <td mat-cell *matCellDef="let element"> {{element.solicitante}} </td>
                </ng-container>

                <!-- Criacao Column -->
                <ng-container matColumnDef="criacao">
                    <th mat-header-cell *matHeaderCellDef> Criação </th>
                    <td mat-cell *matCellDef="let element"> {{element.criacao}} </td>
                </ng-container>

                <!-- Urgencia Column -->
                <ng-container matColumnDef="urgencia">
                    <th mat-header-cell *matHeaderCellDef> Urgência </th>
                    <td mat-cell *matCellDef="let element"> {{element.urgencia}} </td>
                </ng-container>

                <!-- Vencimento Column -->
                <ng-container matColumnDef="vencimento">
                    <th mat-header-cell *matHeaderCellDef> Vencimento </th>
                    <td mat-cell *matCellDef="let element"> {{element.vencimento}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #elseBlock>
            <div class="loadingSpinner">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>